<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whut.springbootshiro.mapper.FollowerMapper" >
  <resultMap id="BaseResultMap" type="com.whut.springbootshiro.model.Follower" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="poster" property="poster" jdbcType="INTEGER" />
    <result column="fans" property="fans" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, poster, fans
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from follower
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPostIdAndFollower" resultType="com.whut.springbootshiro.model.Follower">
    select * from follower
    where poster=#{poster}
    and fans=#{follower}
  </select>
  <select id="selectFansByPostId" resultType="java.lang.Integer">
    select distinct fans
    from follower
    where poster= #{currentUserId}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follower
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whut.springbootshiro.model.Follower" >
    insert into follower (id, poster, fans
      )
    values (#{id,jdbcType=INTEGER}, #{poster,jdbcType=INTEGER}, #{fans,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whut.springbootshiro.model.Follower" >
    insert into follower
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="poster != null" >
        poster,
      </if>
      <if test="fans != null" >
        fans,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poster != null" >
        #{poster,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        #{fans,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whut.springbootshiro.model.Follower" >
    update follower
    <set >
      <if test="poster != null" >
        poster = #{poster,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        fans = #{fans,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whut.springbootshiro.model.Follower" >
    update follower
    set poster = #{poster,jdbcType=INTEGER},
      fans = #{fans,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>