<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whut.springbootshiro.mapper.PostOperationNumMapper" >
  <resultMap id="BaseResultMap" type="com.whut.springbootshiro.model.PostOperationNum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operation_type" property="operationType" jdbcType="CHAR" />
    <result column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, operation_type, post_id, user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post_operation_num
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdAndPostId"
          resultMap="BaseResultMap">
    select * from post_operation_num
    where post_id=#{postId}
    and user_id=#{userId}
  </select>
  <select id="selectByUserIdAndPostIdAndStatus" resultMap="BaseResultMap">
    select * from post_operation_num
    where post_id=#{postId}
    and user_id=#{userId}
    and operation_type=#{status}
  </select>
  <select id="selectLastLook" resultType="com.whut.springbootshiro.model.PostOperationNum">
    select * from post_operation_num
    where post_id=#{postId}
    and user_id=#{userId}
    and operation_type='look'
    order by create_time desc
    limit 1
  </select>
  <select id="selectList" resultType="com.whut.springbootshiro.model.PostOperationNum">
    select * from post_operation_num
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post_operation_num
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whut.springbootshiro.model.PostOperationNum" >
    insert into post_operation_num (id, operation_type, post_id, 
      user_id,create_time)
    values (#{id,jdbcType=INTEGER}, #{operationType,jdbcType=CHAR}, #{postId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whut.springbootshiro.model.PostOperationNum" >
    insert into post_operation_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=CHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whut.springbootshiro.model.PostOperationNum" >
    update post_operation_num
    <set >
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=CHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whut.springbootshiro.model.PostOperationNum" >
    update post_operation_num
    set operation_type = #{operationType,jdbcType=CHAR},
      post_id = #{postId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>